---
layout: default
---
<header>
  <h3 class="page-title">Work</h3>
</header>
<hr width="50%" />
<main>
  <ul>
      <li>
          <a href="https://github.com/0nk4r/badphp">BadPHP</a>
          <div class="description">    This is a vulnerable PHP web application for SCR. It is not a complete web app but rather consists of independent modules like login, register, and cart. Feel free to add your own modules or create a pull request. We are working on best-practice modules so you can break them and learn how to fix them in one place.</div>
      </li>
  </ul>
</main>


  